<!DOCTYPE html>
<html>

<head>
    <title>Adarsh Kumar | Portfolio</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <div class="hero">
    <h1>Adarsh Kumar</h1>
    <p>Backend Developer | Smart Systems | Industry 4.0 Simulation Engineer</p>
    <a href="/static/Adarsh_Kumar_Resume.pdf" download>
        <button>Download Resume</button>
    </a>
        </div>

        <hr>

        <h2>About Me</h2>
        <p>
            I am a Computer Applications student focused on backend development,
            database systems, and smart manufacturing simulations.
            I build structured systems inspired by Industry 4.0 environments.
        </p>

        <hr>

        <h2>Projects</h2>

        <div class="card">
            <h3>Smart Manufacturing Monitoring Dashboard (Industry 4.0 Simulation)</h3>
            <p>
                Designed a smart factory production monitoring simulation system.
                Implemented real-time production generation, quality rate calculation,
                defect analytics, shift tracking, and database logging.
            </p>
            <p><strong>Tech:</strong> Python, Flask, SQLAlchemy, SQLite, Chart.js</p>
            <a href="https://github.com/blackdevil-01/smart-manufacturing-dashboard" target="_blank">View Project</a>
        </div>

        <div class="card">
            <h3>AI-Based Email Fraud Detection System</h3>
            <p>
                Developed a rule-based phishing detection engine with keyword risk scoring,
                suspicious link detection, OCR-based text extraction, and risk classification.
            </p>
            <p><strong>Tech:</strong> Python, Flask, Risk Algorithms, OCR</p>
            <a href="https://github.com/Phishguardd/ai-based-email-fraud-detection" target="_blank">View Project</a>
        </div>

        <div class="card">
            <h3>Web Platform with User & Admin Architecture</h3>
            <p>
                Built a modular web system with role-based access control,
                secure database integration, and scalable backend structure.
                Designed separate user and administrative control panels.
            </p>
            <p><strong>Tech:</strong> Python, Flask, MySQL/SQLite, HTML, CSS</p>
            <a href="https://github.com/blackdevil-01/dark-studio" target="_blank">View Project</a>
        </div>

        <hr>

        <h2>Technical Skills</h2>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQL & Database Design</li>
            <li>Backend Architecture</li>
            <li>Data Analysis</li>
        </ul>

        <hr>

        <h2>Contact</h2>
        <p>Email: adarshkumar2024@gmail.com</p>
        <p>LinkedIn: linkedin.com/in/adarsh-kumar-70ba2b2b1</p>

    </div>

</body>

</html>
